:root {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;

    --orange: #FA812F;
    --drakviolet: #0D1164;
    --bluegrey: #273F4F;
    --liteblack: #414143;
}

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.checkout-container{
    max-width: 800px;
    margin: 30px auto;
    padding: 15px;
}

.checkout-container h2{
    text-align: center;
    margin-bottom: 20px;   
}

/* Summary Styling */

.summary-box{
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.summary-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.grand-total{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

/* Form */

.form-box{
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.form-box input, .form-box textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-box textarea{
    resize: none;
    height: 80px;
}

.form-box button{
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-box button:hover{
    background: #218838;
}


/* Tablet Responsive------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {

  .checkout-container {
    max-width: 700px;
    padding: 20px;
  }

  .checkout-container h2 {
    font-size: 26px;
  }

  .summary-box,
  .form-box {
    padding: 20px;
  }

  .summary-item {
    font-size: 15px;
  }

  .grand-total {
    font-size: 19px;
  }

  .form-box button {
    font-size: 17px;
  }
}


/* Mobile Responsive----------------------- */
@media (max-width: 768px) {

  .checkout-container {
    margin: 15px;
    padding: 10px;
  }

  .checkout-container h2 {
    font-size: 24px;
  }

  .summary-box h3,
  .form-box h3 {
    font-size: 18px;
  }

  .summary-item {
    font-size: 14px;
  }

  .grand-total {
    font-size: 18px;
    text-align: center;
  }

  .form-box input,
  .form-box textarea {
    font-size: 14px;
    padding: 12px;
  }

  .form-box textarea {
    height: 100px;
  }

  .form-box button {
    font-size: 16px;
    padding: 12px;
  }
}
