:root {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;

    --orange: #FA812F;
    --darkviolet: #0D1164;
    --bluegrey: #273F4F;
    --liteblack: #414143;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Panel Base */
.panel {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100vh;
    background-color: #ffffffcf;
    backdrop-filter: blur(10px);
    box-shadow: -4px 0 15px -10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 2000;
    box-sizing: border-box;
    transition: 0.4s ease;
    border-left: 3px solid var(--orange);
    /* overflow-y: auto; */
}

.panel.open {
    right: 0;
}

.close-btn {
    background: #ff9800;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    right: 10x;
    transition: 0.2s;
}

.close-btn:hover {
    color: #e67e00;
    transform: scale(1.05);
}

.panel h2 {
    margin-top: 50px;
    text-align: center;
    color: #4b0082;
    letter-spacing: 2px;
}

.cat-list {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.cat-list li {
    margin: 15px 0;
}

.cat-list li a {
    display: block;
    margin-bottom: 50px;
    padding: 12px;
    background: linear-gradient(45deg, #ff9800, #ffb74d);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.cat-list li a:hover {
    transform: translateX(10px);
    box-shadow: 0 5px 12px rgba(255, 152, 0, 0.6);
}

.dropdown {
    position: relative;
}

.drop-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(45deg, #ff9800, #ffb74d);
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background: #fff;
    width: 160px;
    border-radius: 10px;
    padding: 5px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content>li {
    list-style: none;
}

.dropdown-content>li>a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0;
}

/*----------------------- show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



/* Header styling */

header {
    background-color: #eaeaed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.logo {
    background-color: var(--orange);
    color: var(--liteblack);
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}

.logo>h2 {
    margin: 0;
    font-size: 24px;
}

.logo p {
    margin: 5px 0 0;
    font-size: 14px;
}

/* Navbar */

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav>a {
    text-decoration: none;
    padding: 10px 15px;
    color: #4b0082;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.2s;
}

nav>a:hover {
    color: #4c52c4;
}

/* Cart */
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    color: #fff;
    padding: 8x 12px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    font-size: 18px;
}

.cart:hover {
    background-color: #ffa726;
    transform: scale(1.1);
}

#cart-count {
    background-color: red;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 5px;
}

.cart-icon {
    text-decoration: none;
}

.order-btn {
    background-color: var(--orange);
    color: var(--liteblack);
    border: none;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s;
}

.order-btn:hover {
    background-color: #fff;
    color: var(--bluegrey);
    border: 1px solid var(--bluegrey);
}



/* Hero Section */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    object-fit: cover;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.hero-section {
    text-align: center;
}

.hero-section>div>img {
    width: 100%;
    height: 100vh;
}

.hero-section>div>h2 {
    color: var(--bluegrey);
    text-align: center;
    margin-top: 50px;
}

.hero-para {
    padding: 15px;
}

.hero-btn>button {
    border: none;
    padding: 15px 22px;
    background-color: var(--bluegrey);
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s;
}

.hero-btn>button:hover {
    background-color: #fff;
    color: var(--bluegrey);
    border: 1px solid var(--bluegrey);
}

/* Grid Section Style */
.grid-section {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 400px 400px;
}

.grid-section>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.grid-box1 {
    background-color: rgb(248, 245, 240);
    color: var(--bluegrey);
}

.grid-box1 img {
    width: 150px;
    height: 150px;
}

.grid-box4 img {
    width: 150px;
    height: 150px;
}

.grid-box2 img {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.grid-box3 img {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.box1-btn button {
    margin-top: 10px;
    border: none;
    padding: 15px 28px;
    background-color: var(--bluegrey);
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s;
}

.box1-btn>button:hover {
    background-color: #fff;
    color: var(--bluegrey);
    border: 1px solid var(--bluegrey);
}

.grid-box4 {
    background-color: rgb(248, 245, 240);
    color: var(--bluegrey);
}

.box4-btn>button {
    margin-top: 10px;
    border: none;
    padding: 15px 28px;
    background-color: var(--bluegrey);
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s;
}

.box4-btn>button:hover {
    background-color: #fff;
    color: var(--bluegrey);
    border: 1px solid var(--bluegrey);
}

/* Visit Section */
.visit-section {
    margin-top: 25px;
    padding: 10px 250px;
    text-align: center;
    color: var(--bluegrey);
}

.visit-section>h2 {
    letter-spacing: 3px;
}

.visit-section>div {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.visit-address>p {
    color: var(--darkviolet);
    margin: 7px;
}

.visit-btn1 {
    margin: 10px;
    border: none;
    padding: 15px 30px;
    background-color: var(--bluegrey);
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s;
}

.visit-btn1:hover {
    background-color: #fff;
    color: var(--bluegrey);
    border: 1px solid var(--bluegrey);
}

.visit-btn2>button {
    margin: 10px;
    border: none;
    padding: 15px 30px;
    background-color: var(--bluegrey);
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s;
}

.visit-btn2>button:hover {
    background-color: #fff;
    color: var(--bluegrey);
    border: 1px solid var(--bluegrey);
}

.visit-hours>p {
    color: var(--darkviolet);
    margin: 7px;
}

/* Experience Section */
/* Form Style */
.form-logo {
    background-color: var(--orange);
    color: var(--liteblack);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.form-logo>div>h2 {
    margin: 0;
}

.form-logo>div>p {
    margin: 7px;
}

.experience-section {
    margin-top: 80px;
    color: var(--bluegrey);
    align-items: center;
    text-align: center;
}

.experience-section>h2 {
    text-decoration: underline var(--bluegrey);
    letter-spacing: 3px;
}

form {
    /* margin: 0; */
    width: 100%;
    margin: 20px 0;
    max-width: 900px;
    align-items: left;
    justify-content: space-between;
}

fieldset {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--bluegrey);
}

label {
    /* margin: 10px 0 10px; */
    display: block;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

select,
input,
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 5px;
    font-family: "Sansita", sans-serif;
    border: 1px solid rgb(154, 148, 148);
}

.submit-btn {
    margin-top: 20px;
    /* padding: 12px; */
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--bluegrey);
    color: rgb(247, 243, 243);
    font-family: "sansita", sans-serif;
    font-size: 18px;
    transition: 0.2s linear;
    cursor: pointer;
    letter-spacing: 3px;
}

.submit-btn:hover {
    background-color: rgb(247, 243, 243);
    color: var(--bluegrey);
    border: 1px solid var(--bluegrey);
    transform: scale(0.99);
}

.form-lines {
    text-align: center;
    margin: 8px;
    color: var(--liteblack);
}

.experience-form {
    width: 45%;
}

.experience-section>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 300px;
    margin: 80px 50px;
    width: 85%;
}

@media(max-width:768px) {
    .experience-section {
        flex-direction: column;
        align-items: center;
    }
}


/* Product Slide Styling */

.product-slider {
    width: 320px;
    background: #fbf8f8;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
    text-align: center;
    /* margin: 40px 50px; */
    margin: 0;
}

.product-box img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.product-box h3 {
    color: var(--bluegrey);
    margin: 10px 0 5px;
}

.product-box p {
    color: var(--liteblack);
}

/* .slider-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.arrow {
    background-color: var(--bluegrey);
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.arrow:hover {
    background-color: white;
    color: var(--bluegrey);
    border: 1px solid var(--bluegrey);
} */

/* Image Section Style */

.image-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

}

.image-container img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
    transition: 0.3s;

}

.image-container:hover {
    transform: scale(1.01);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.image-container:hover .overlay {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.01);
}

/* Footer Styling */

.site-footer {
    width: 100%;
}

.copyright {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
    background-color: #242323;
    color: #eaeaed;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.footer-icons {
    margin: 0;
    padding: 15px;
    background-color: #1c1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    font-size: 35px;
    margin: 0 10px;
}

.location {
    background-color: #0b0b0b;
    color: #eaeaed;
    display: flex;
    height: 35vh;
}

.location div {
    margin: 20px 200px;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}





/* Responsive */


/* ============================= */
/* TABLET RESPONSIVE (768px–1024px) */
/* ============================= */

@media (min-width: 768px) and (max-width: 1024px) {

    /* HEADER */
    header {
        padding: 10px 40px;
    }

    nav {
        gap: 12px;
    }

    nav a {
        font-size: 14px;
        padding: 8px 10px;
    }

    /* HERO SECTION */
    .hero-section,
    .slideshow-container {
        height: 55vh;
    }

    .hero-section h1,
    .mySlides h1 {
        font-size: 3.5rem;
        letter-spacing: 3px;
    }

    /* HERO TEXT / INTRO */
    .hero-para,
    .intro-section {
        padding: 20px 50px;
        font-size: 15px;
    }

    /* PRODUCT / CARD GRID */
    .product-list,
    .card-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* IMAGE SECTION */
    .image-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container img {
        height: 300px;
    }

    /* FOOTER */
    .location {
        height: auto;
    }

    .location div {
        margin: 20px 60px;
    }
}


/* ========================= */
/* Mobile Responsive */
/* ======================== */

@media(max-width: 768px) {

    header {
        padding: 8px 10px;
        flex-wrap: wrap;
    }

    /* LOGO FULL WIDTH TOP */
    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
    }

    .logo h2 {
        font-size: 18px;
    }

    .logo p {
        font-size: 11px;
    }

    /* NAV BELOW LOGO */
    nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    nav>a {
        padding: 6px 10px;
        font-size: 13px;
        letter-spacing: 1px;
    }

    /* CART FIX */
    .cart {
        padding: 6px 10px;
        font-size: 16px;
    }

    #cart-count {
        font-size: 10px;
        padding: 1px 2px;
    }

    /* ORDER BUTTON */
    .order-btn {
        padding: 6px 10px;
        font-size: 11px;
        letter-spacing: 1px;
    }

    .grid-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .visit-section {
        padding: 20px;
    }

    .visit-section>div {
        flex-direction: column;
        gap: 20px;
    }

    .experience-section>div {
        flex-direction: column;
        gap: 20px;
        margin: 40px auto;
    }

    .experience-form {
        width: 100%;
    }

    .image-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .location {
        flex-direction: column;
        height: auto;
    }

    .location {
        flex-direction: column;
        height: auto;
    }

    .location div {
        margin: 20px;
    }

    .footer {
        padding: 30px 15px;
        font-size: 14px;
        line-height: 1.6;
    }
}